.container {
  padding-top: 5%;
}

.container-akhir {
  padding-top: 5%;
  padding-bottom: 5%;
}

.title {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 600;
}

.books {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 3%;
  /* color: white; */
}

.book {
  width: 300px;
  padding: 1%;
  border-radius: 10px;
  background-color: #637db4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
}

.img {
  width: 220px;
  height: 300px;
}

.img img {
  width: 100%;
  height: 100%;
}

.title-book {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.title-book span {
  font-size: 16px;
}

.title-book p {
  font-size: 16px;
  text-align: left;
  font-weight: 400;
}

.desk-book {
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
